openapi: 3.1.1
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: Programmable Developer API
  version: 2.0.0
  summary: One versioned integration for Programmable Classic and Custom launches.
  description: |
    Read-only discovery for terminals, scanners, explorers, bots, wallets and apps.

    Classic is live on Ethereum. Custom discovery includes Registry-verified and
    finalized Router-stamped launches. The separate authenticated Custom Launch
    API V1 at `https://api.programmable.market` keeps provenance reads and status
    live, but POST is read-only and returns nonretryable
    `409 CUSTOM_LAUNCH_V1_READ_ONLY`; this Developer v2 service also remains read
    only. The separate Custom Launch API V2 is a public authenticated Ethereum
    Mainnet preparation route with an exact fee-enforced production profile.
    Custom Launch API V3 is the public authenticated general direct-hook graph
    route for exact project-owned token and hook artifacts. Both keep signing
    and broadcasting at the controller wallet boundary.
    Its existing `publicSubmissionStatus` field continues to describe the
    closed legacy intake; `customLaunchApiStatus` describes the public V2 API.
    Historical Stock-Paired
    launches are not part of the version 2 Programmable Custom classification.
    `category: custom` is the stable product taxonomy, not a claim of Registry
    acceptance. Consumers must inspect
    `extensions["programmable/classification"].basis` and verify the Registry
    or canonical-Router evidence named by that basis.

    Within v2, existing fields keep their type and meaning. New deployments,
    capabilities and market kinds are additive. Consumers must ignore unknown
    fields and keep unknown market kinds discoverable, even when they cannot
    chart, quote or execute them.
  license:
    name: MIT
    identifier: MIT
  contact:
    name: Programmable
    url: https://developers.programmable.family/
externalDocs:
  description: Programmable Developer Platform documentation
  url: https://developers.programmable.family/
servers:
  - url: https://developers.programmable.family
    description: Production
tags:
  - name: Discovery
    description: Stable service and deployment discovery.
  - name: Launches
    description: Normalized Classic and Custom launch records.
  - name: Compatibility
    description: Compatibility output for existing token-list consumers.
security: []
paths:
  /.well-known/programmable.json:
    get:
      tags: [Discovery]
      operationId: getProgrammableDiscovery
      summary: Discover the Programmable Developer API
      description: |
        Returns stable links to the v2 API, deployment manifest, schemas,
        OpenAPI document and documentation. Integrators should begin here and
        must resolve deployment addresses from the manifest rather than
        hardcoding them.
      responses:
        "200":
          description: Stable discovery document.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WellKnownDocument"
        "304":
          $ref: "#/components/responses/NotModified"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"

  /v3/finalized-custom-launches:
    get:
      servers:
        - url: https://api.programmable.market
          description: Production Custom Launch API read surface
      tags: [Launches]
      operationId: listFinalizedCustomLaunchMetadataV3
      summary: List finalized V3 project metadata
      description: |
        Returns a bounded, unauthenticated metadata snapshot for finalized
        profile `3.2.0` launches. This route belongs to the separate Custom
        Launch API host, not the Developer read API host. Follow every opaque
        cursor to complete one snapshot. Items exclude pending and legacy
        requests, controller addresses, credentials, and request bytes.
        `resourceId` is not Router identity; bind `routerLaunchId` to the
        matching canonical Router event token, hook, PoolManager, and pool ID.
        Creator presentation remains untrusted display data and is not onchain
        token identity, safety, liquidity, or tradeability evidence.
      parameters:
        - name: limit
          in: query
          required: false
          description: Page size. Defaults to 10. Duplicate parameters are rejected.
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 10
        - name: cursor
          in: query
          required: false
          description: Opaque cursor from the previous page. Duplicate parameters are rejected.
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Finalized Custom launch metadata, newest first.
          headers:
            Cache-Control:
              required: true
              schema:
                const: public, max-age=15, stale-while-revalidate=300
          content:
            application/json:
              schema:
                $ref: https://programmable.market/openapi/custom-launch-v3.json#/components/schemas/FinalizedCustomLaunchMetadataListV1
        "400":
          description: Invalid or duplicated pagination parameter (`INVALID_PAGINATION`).
        "503":
          description: Finalized V3 metadata source is unavailable (`CUSTOM_LAUNCH_V3_UNAVAILABLE`).

  /api/v2/status:
    get:
      tags: [Discovery]
      operationId: getStatus
      summary: Read API and data-pipeline status
      description: |
        Reports service availability separately from Classic discovery,
        feed freshness, the Custom Launch API V1 compatibility state, and the
        exact public Fee-Enforced V2 production profile, the retained gated
        Direct Native Hook Graph V1 preview, the retained compatible V2 descriptor,
        and the active additive V3 general-lane descriptor for the public Custom
        Launch API V3 route. A successful HTTP response is not itself proof that indexed
        data is current, that a fee is enforced, that source is an exact match,
        or that a contract was audited.
      responses:
        "200":
          description: Current service and feed status.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
        "304":
          $ref: "#/components/responses/NotModified"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"

  /api/v2/manifest:
    get:
      tags: [Discovery]
      operationId: getDeploymentManifest
      summary: Resolve current and historical deployments
      description: |
        Returns active, historical and prelaunch chain/deployment profiles.
        Historical deployments remain present for backfills. New EVM chains
        and Registry generations are added here so clients do not need a code
        change. A prelaunch Registry carries null address and start-block
        fields; clients must never replace those nulls with guessed values.
        `launchStampRouter` is the independent provenance-only trust root for
        future Router-stamped Classic and Custom launches. The frozen ABI,
        its hosted URL and published ABI-file hash, pinned source/extraction reference, events,
        indexed layouts, getter selectors, enum values and sole atomic selector are published. Its
        separate `deploymentEvidence` object publishes the finalized Ethereum
        deployment, runtime identities and observed immutable getters. Router V1
        is live at `0x8622DD5bAb44185f2A458ac90384Ac99248f8d56` from block
        `25717612`, with runtime Keccak-256
        `0x40e27ecf201761d5eb66bc4f2d5c6124831ef078d7baf458ca5f41b1a8108546`,
        exact production bindings and `64` finality confirmations. Its approved
        `/launchStampRouter/canaryEvidence` object is the finalized PCAN test
        vector. It covers `CustomGraph`; no separate Classic onchain canary is
        published and no additional canary ID is implied. Direct verification uses only the
        manifest-listed chain and Router through Ethereum JSON-RPC; historical
        launches are outside Router V1.
        Universal detection uses token or `(PoolManager, PoolId)` and then the
        record's `LaunchKindV1` value. The shared Classic hook is not a launch
        identity and must not classify a Classic launch. Only a consistent
        record from the exact canonical Router qualifies through Router V1.
        `customFeeEnforcedLaunchProfileV2` is a separate public production
        launch profile, not Custom Registry Generation 2 and not a third public
        category. Its exact revision and hash are authoritative. Publication
        does not imply named-terminal adoption. Launch submission is not part of
        this read-only API. Custom Launch API V1 POST is also read-only and returns
        nonretryable `409 CUSTOM_LAUNCH_V1_READ_ONLY`; public launch preparation
        uses the separate authenticated V2 or V3 API.
        The gated Direct Native Hook Graph V1 preview remains available as
        optional `directNativeHookGraphProfileV1` contract data for compatibility.
        The additive `directNativeHookGraphProfileV2` descriptor is the live
        Custom Launch API V3 production contract for project-owned token and hook
        artifacts in exact 3–16-target graphs. It supports every valid Uniswap v4
        permission mask and the `none`, exact wallet transaction value, and
        EIP-3009 funding modes. Each accepted launch still requires its own exact
        graph conformance receipt. The additive `directNativeHookGraphProfileV3`
        descriptor publishes the active general lane. Its deterministic exact-source,
        compiler and graph baseline applies role-aware blocking rules; every
        unmatched finding remains a bound visible warning without a project exception.
        No blocking finding makes the exact request eligible for mandatory Router
        simulation; it does not authorize a launch. A blocking finding returns
        `action_required`. An exact Router launch simulation is required before
        authorization. Its `api.agentIntegration` object links the canonical
        machine-readable remediation catalog and existing-project guide. Agents
        resolve returned finding codes there, repair and rebuild the exact
        project, then submit a new exact request; there is no project allowlist
        or legacy GitHub fallback. The linked pack-config schema defines
        `programmable.eip3009-authorization-patch.v2` with static
        `nonceArgumentPath`, `rArgumentPath`, `sArgumentPath`, and
        `vArgumentPath`; v1 remains compatible for exact retries. New profile
        `3.2.0` requests require
        `programmable.project-metadata.v1`; the declaration hash is bound into
        the graph hash, prepared resource, launch ID, and wallet-reviewed Router
        transaction. `programmable.project-token-metadata-binding.v1` records
        deterministic name and symbol extraction, but finalized token metadata
        still requires post-deployment readback. Descriptions, images, and links
        remain untrusted display data and never authorize execution. The
        canonical V3 resource always carries immutable `launchProfileVersion`;
        `projectMetadata` and `projectMetadataHash` are non-null exactly for
        `3.2.0` and null for compatible `2.0.0`, `3.0.0`, and `3.1.0` resources.
        The canonical conditional schema remains in the linked Custom Launch V3
        OpenAPI rather than being redefined here. Admission is
        not an audit or a safety, honeypot, liquidity,
        tradeability, or fee-behavior guarantee. Finalized consistent Router launches may enter
        the launch feed; token-list projection additionally requires a token
        identity. Neither descriptor is a third public category, and this
        Developer V2 OpenAPI remains read-only: it describes but does not expose
        the authenticated V3 write routes or executable wallet calldata.
      responses:
        "200":
          description: Current deployment manifest.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Manifest"
        "304":
          $ref: "#/components/responses/NotModified"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"

  /api/v2/launches:
    get:
      tags: [Launches]
      operationId: listLaunches
      summary: List normalized Programmable launches
      description: |
        Returns Classic and Custom launches through one cursor-paginated
        envelope. A launch can contain zero, one or several markets. The API
        never fabricates a pool for a token without one. Token amounts are raw
        decimal integer strings. Persist `page.resumeCursor` after processing a
        completed poll and pass it back as `after`. `page.nextCursor` is only
        for continuing the current page traversal. `after` and `cursor` must
        not be sent together. Coverage gaps do not hide recognized records:
        the response remains HTTP 200 with `status: degraded` or `unavailable`.
        Finalized canonical-Router Custom records are an independent provenance
        lane from the Custom Registry. Their token and pool identities remain
        present through a bounded source whose canonical commitment is
        recomputed before publication, plus a digest-pinned last-known-good
        fallback for source outages. Absent fee or supply evidence stays
        explicitly unavailable. The feed remains degraded and absence is not
        authoritative until Router coverage is current. A Router record's
        absent Registry fee policy is semantically valid only when its exact
        entry and source-boundary digests are members of the accepted source
        snapshot; source-shaped JSON alone is never sufficient.
      parameters:
        - $ref: "#/components/parameters/ChainIdQuery"
        - $ref: "#/components/parameters/CategoryQuery"
        - $ref: "#/components/parameters/AfterQuery"
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
      responses:
        "200":
          description: Cursor-paginated launch feed, including bounded recognized records when quality is degraded or unavailable.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LaunchFeed"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"

  /api/v2/launches/{chainId}/{tokenAddress}:
    get:
      tags: [Launches]
      operationId: getLaunchByToken
      summary: Get one launch by chain and token address
      description: |
        Returns the canonical normalized record for one token. Name and symbol
        are display metadata and are never used as identity.
      parameters:
        - $ref: "#/components/parameters/ChainIdPath"
        - $ref: "#/components/parameters/TokenAddressPath"
      responses:
        "200":
          description: Normalized launch record.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Launch"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"

  /api/v2/launches/{launchId}:
    get:
      tags: [Launches]
      operationId: getLaunchById
      summary: Get one launch by canonical launch ID
      description: |
        Returns any Programmable launch, including project-only and multi-token
        launches that do not have one canonical ERC-20 lookup address.
      parameters:
        - $ref: "#/components/parameters/LaunchIdPath"
      responses:
        "200":
          description: Normalized launch record.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Launch"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"

  /api/v2/token-list:
    get:
      tags: [Compatibility]
      operationId: getTokenList
      summary: Read the token-list compatibility projection
      description: |
        Returns a token-list-compatible projection for integrations that need
        token identity and metadata. The top-level `status` reports projection
        quality, and recognized complete token identities remain present when
        unrelated coverage or market enrichment is incomplete. This includes
        finalized canonical-Router Custom tokens with complete token identity.
        Use the launch feed for markets, capabilities, provenance, finality and
        complete fee disclosure; the compatibility projection does not infer a
        fee from category or Router provenance.
      parameters:
        - $ref: "#/components/parameters/ChainIdQuery"
        - $ref: "#/components/parameters/CategoryQuery"
      responses:
        "200":
          description: Token-list compatibility document with explicit ready, degraded or unavailable quality.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenList"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Unavailable"

components:
  schemas:
    Status:
      $ref: ../schemas/v2/status.schema.json
    Manifest:
      $ref: ../schemas/v2/manifest.schema.json
    LaunchFeed:
      $ref: ../schemas/v2/launch-feed.schema.json
    Launch:
      $ref: ../schemas/v2/launch.schema.json
    CanonicalCustomRegistryRecordV3:
      $ref: ../schemas/v2/custom-launch-registry-record-v3.schema.json
    CanonicalCustomRegistryRecordV4:
      $ref: ../schemas/v2/custom-launch-registry-record-v4.schema.json
    CustomFeeEnforcedLaunchProfileV2:
      $ref: ../schemas/v2/custom-fee-enforced-launch-profile-v2.schema.json
    DirectNativeHookGraphProfileDiscoveryV1:
      $ref: ../schemas/v2/direct-native-hook-graph-profile-discovery-v1.schema.json
    DirectNativeHookGraphProfileDiscoveryV2:
      $ref: ../schemas/v2/direct-native-hook-graph-profile-discovery-v2.schema.json
    DirectNativeHookGraphProfileDiscoveryV3:
      $ref: ../schemas/v2/direct-native-hook-graph-profile-discovery-v3.schema.json
    TokenList:
      $ref: ../schemas/v2/token-list.schema.json
    Problem:
      $ref: ../schemas/v2/problem.schema.json
    WellKnownDocument:
      type: object
      additionalProperties: false
      required:
        - schemaVersion
        - platformId
        - name
        - description
        - apiVersion
        - apiBaseUrl
        - statusUrl
        - manifestUrl
        - launchesUrl
        - tokenListUrl
        - openApiUrl
        - schemasBaseUrl
        - documentationUrl
        - sourceUrl
        - chains
        - publicCategories
        - compatibility
        - extensions
      properties:
        schemaVersion:
          const: 2.0.0
        platformId:
          const: programmable
        name:
          type: string
        description:
          type: string
        apiVersion:
          const: "2"
        apiBaseUrl:
          type: string
          format: uri
        statusUrl:
          type: string
          format: uri
        manifestUrl:
          type: string
          format: uri
        launchesUrl:
          type: string
          format: uri
        tokenListUrl:
          type: string
          format: uri
        openApiUrl:
          type: string
          format: uri
        schemasBaseUrl:
          type: string
          format: uri
        documentationUrl:
          type: string
          format: uri
        sourceUrl:
          type: string
          format: uri
        chains:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required: [chainId, caip2, name, explorerUrl, status]
            properties:
              chainId:
                type: integer
                minimum: 1
              caip2:
                type: string
                pattern: ^eip155:[1-9][0-9]*$
              name:
                type: string
              explorerUrl:
                type: string
                format: uri
              status:
                const: live
        publicCategories:
          type: object
          additionalProperties: false
          required: [classic, custom]
          properties:
            classic:
              type: object
              additionalProperties: false
              required: [discoveryStatus]
              properties:
                discoveryStatus:
                  const: live
            custom:
              type: object
              additionalProperties: false
              required:
                - discoveryStatus
                - publicSubmissionStatus
                - customLaunchApiStatus
                - legacyRegistrySubmissionStatus
                - legacyGithubSubmissionStatus
                - registryAddress
                - registryStartBlock
                - registryGeneration
                - note
              properties:
                discoveryStatus:
                  const: live
                publicSubmissionStatus:
                  const: closed
                  description: Backward-compatible legacy Registry and GitHub submission intake status. It remains closed independently of the public authenticated Custom Launch API V2. V1 reads/status remain compatible, but V1 POST returns nonretryable 409 CUSTOM_LAUNCH_V1_READ_ONLY.
                customLaunchApiStatus:
                  const: live
                  description: Public authenticated Custom Launch API V2 submission status.
                legacyRegistrySubmissionStatus:
                  const: closed
                  description: Legacy Custom Registry submission intake status.
                legacyGithubSubmissionStatus:
                  const: closed
                  description: Legacy GitHub submission intake status.
                registryAddress:
                  type: string
                  pattern: ^0x[0-9a-fA-F]{40}$
                registryStartBlock:
                  type: string
                  pattern: ^[1-9][0-9]*$
                registryGeneration:
                  type: string
                  pattern: ^[1-9][0-9]*$
                note:
                  type: string
        compatibility:
          type: object
          additionalProperties: false
          required:
            - majorVersion
            - additiveChangesOnly
            - unknownFields
            - unknownCapabilities
            - unknownMarketKinds
            - deploymentAddresses
          properties:
            majorVersion:
              const: 2
            additiveChangesOnly:
              const: true
            unknownFields:
              const: ignore
            unknownCapabilities:
              const: preserve
            unknownMarketKinds:
              const: display-as-unsupported
            deploymentAddresses:
              const: resolve-from-manifest
        extensions:
          type: object
          description: Namespaced, non-authoritative additive data. Consumers must never execute extension content.
          propertyNames:
            pattern: ^[a-z0-9]+(?:\.[a-z0-9-]+)+$
          additionalProperties:
            type: object

  parameters:
    ChainIdQuery:
      name: chainId
      in: query
      required: false
      description: Optional EIP-155 chain ID from the manifest. Omit to read every active chain.
      schema:
        type: integer
        minimum: 1
    CategoryQuery:
      name: category
      in: query
      required: false
      description: Stable public launch category.
      schema:
        type: string
        enum: [classic, custom]
    CursorQuery:
      name: cursor
      in: query
      required: false
      description: Opaque page-continuation cursor from `page.nextCursor`. Do not construct or parse it; do not combine it with `after`.
      schema:
        type: string
        minLength: 1
        maxLength: 1024
        pattern: "^[A-Za-z0-9_-]+\\.[A-Za-z0-9_-]+$"
    AfterQuery:
      name: after
      in: query
      required: false
      description: Opaque durable polling checkpoint from `page.resumeCursor`. Returns records observed after that checkpoint. Do not construct or parse it; do not combine it with `cursor`.
      schema:
        type: string
        minLength: 1
        maxLength: 1024
        pattern: "^[A-Za-z0-9_-]+\\.[A-Za-z0-9_-]+$"
    LimitQuery:
      name: limit
      in: query
      required: false
      description: Maximum records returned on one page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
    ChainIdPath:
      name: chainId
      in: path
      required: true
      description: Active EIP-155 chain ID from the manifest.
      schema:
        type: integer
        minimum: 1
    TokenAddressPath:
      name: tokenAddress
      in: path
      required: true
      description: ERC-20 token contract address. Address comparison is case-insensitive on EVM chains.
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{40}$
    LaunchIdPath:
      name: launchId
      in: path
      required: true
      description: Canonical opaque launch ID. Do not derive identity from a token name, symbol or logo.
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[A-Za-z0-9][A-Za-z0-9._:@/+~-]{0,255}$

  headers:
    CacheControl:
      description: Public cache policy for this representation.
      schema:
        type: string
    ETag:
      description: Entity tag for conditional requests with If-None-Match.
      schema:
        type: string
    RequestId:
      description: Opaque request identifier for support and diagnostics.
      schema:
        type: string

  responses:
    NotModified:
      description: The representation has not changed since the supplied If-None-Match value.
      headers:
        ETag:
          $ref: "#/components/headers/ETag"
    BadRequest:
      description: The request parameters are invalid.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: No launch exists for this chain and token address.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    RateLimited:
      description: The public rate limit has been exceeded.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Unavailable:
      description: The service or required data source is temporarily unavailable.
      headers:
        Retry-After:
          description: Seconds to wait before retrying, when known.
          schema:
            type: integer
            minimum: 1
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
